* {
  box-sizing: border-box;
}
.pacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #4e9dd6;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.demo-title {
  font-size: 90px;
  margin: 0;
}
.demo-title-h2 {
  font-size: 30px;
  margin: 0;
  padding: 30px;
  font-weight: 300;
}
.form-container {
  padding: 30px;
  text-align: center;
}
.input-addon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.input-field {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #2d82c1;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  outline: 0;
  transition: 0.5s ease all;
}
.input-field:focus,
.input-field:focus + .input-item {
  border-color: #1f5883;
}
.input-item {
  padding: 0 15px;
  border: 2px solid #2d82c1;
  border-radius: 0 3px 3px 0;
  transition: 0.5s ease all;
  outline: 0;
  color: #132034;
  font-size: 16px;
  cursor: pointer;
  background: #ccc;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJzdHlsZS5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG4ucGFjaWZpY28ge1xuICBmb250LWZhbWlseTogJ1BhY2lmaWNvJywgY3Vyc2l2ZTtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbn1cbmJvZHksXG5odG1sIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICB3aWR0aDogMTAwJTtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBiYWNrZ3JvdW5kOiAjNGU5ZGQ2O1xuICBjb2xvcjogI2ZmZjtcbiAgZm9udC1mYW1pbHk6ICdMYXRvJywgc2Fucy1zZXJpZjtcbn1cbi53cmFwcGVyIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICB3aWR0aDogMTAwJTtcbiAgZGlzcGxheTogLXdlYmtpdC1mbGV4O1xuICBkaXNwbGF5OiAtbXMtZmxleGJveDtcbiAgZGlzcGxheTogZmxleDtcbiAgLXdlYmtpdC1qdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgLW1zLWZsZXgtcGFjazogY2VudGVyO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgLXdlYmtpdC1hbGlnbi1pdGVtczogY2VudGVyO1xuICAtbXMtZmxleC1hbGlnbjogY2VudGVyO1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAtd2Via2l0LWZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIC1tcy1mbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xufVxuLmRlbW8tdGl0bGUge1xuICBmb250LXNpemU6IDkwcHg7XG4gIG1hcmdpbjogMDtcbn1cbi5kZW1vLXRpdGxlLWgyIHtcbiAgZm9udC1zaXplOiAzMHB4O1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDMwcHg7XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG59XG4uZm9ybS1jb250YWluZXIge1xuICBwYWRkaW5nOiAzMHB4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4uaW5wdXQtYWRkb24ge1xuICBkaXNwbGF5OiAtd2Via2l0LWZsZXg7XG4gIGRpc3BsYXk6IC1tcy1mbGV4Ym94O1xuICBkaXNwbGF5OiBmbGV4O1xufVxuLmlucHV0LWZpZWxkIHtcbiAgLXdlYmtpdC1mbGV4OiAxO1xuICAtbXMtZmxleDogMTtcbiAgZmxleDogMTtcbiAgcGFkZGluZzogMTBweCAxNXB4O1xuICBib3JkZXI6IDJweCBzb2xpZCAjMmQ4MmMxO1xuICBib3JkZXItcmlnaHQ6IDA7XG4gIGJvcmRlci1yYWRpdXM6IDNweCAwIDAgM3B4O1xuICBvdXRsaW5lOiAwO1xuICB0cmFuc2l0aW9uOiAwLjVzIGVhc2UgYWxsO1xufVxuLmlucHV0LWZpZWxkOmZvY3VzLFxuLmlucHV0LWZpZWxkOmZvY3VzICsgLmlucHV0LWl0ZW0ge1xuICBib3JkZXItY29sb3I6ICMxZjU4ODM7XG59XG4uaW5wdXQtaXRlbSB7XG4gIHBhZGRpbmc6IDAgMTVweDtcbiAgYm9yZGVyOiAycHggc29saWQgIzJkODJjMTtcbiAgYm9yZGVyLXJhZGl1czogMCAzcHggM3B4IDA7XG4gIHRyYW5zaXRpb246IDAuNXMgZWFzZSBhbGw7XG4gIG91dGxpbmU6IDA7XG4gIGNvbG9yOiAjMTMyMDM0O1xuICBmb250LXNpemU6IDE2cHg7XG4gIGN1cnNvcjogcG9pbnRlcjtcbiAgYmFja2dyb3VuZDogI2NjYztcbn1cbiJdLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
